html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: flex;
  background-color: #e2e2e2;
  justify-content: center;
  align-items: center;
}

header h1 {

}

header img {
  width: 2rem;
}

header p {
  font-style: italic;
  font-size: 1.125rem;

}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav a {
  padding: .75em 1em .6em;

}
